<% include ../partials/header %>

<main>
    <h2 class="page-title">Leave a Comment</h2>
    <form class="form-comment" action="/api/comment/new" method="POST" enctype="">

      <!-- Comment -->
      <div class="comment-body">
        <p class="form-question">Please write your comment below:</p>
        <textarea name="comment-body" id="commentBody" cols="80" rows="10" maxlength="500" required></textarea>
        <p class="characters"><span id="left">500 </span>/ 500</p>
      </div>

      <!-- User Details -->
      <div class="user-details">
        <label for="contact-info" class="form-question">Please provide a way to contact you (e.g. phone, email, twitter, facebook)</label>
        <input id="contact-info" type="text" class="form-input" required>
      </div>

      <button id="SubmitComment" class="form-btn submit">Add Your Comment</button>
    </form>
</main>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../../forms.js"></script>

<% include ../partials/footer %>
