<% include ./partials/header %>

<% if(message && message.length > 0){ %>
  <div class="msg-box">
    <h2 class="msg success-msg"><%- message %></h2>
  </div>
  <% } %>
<main class="dashboard-section">
  <h1 class="dashboard-title">My Dashboard</h1>
  <section class="user-details">
    <p class="user-name">Username: <%= currentUser.local.username %></p>
    <p class="user-email">Email: <%= currentUser.local.email %></p>

    <div class="edit-section">
      <p class="form-title">Edit your information</p>

      <% if (currentUser.local.hash) { %>
        <p class="user-question">Change your password</p>
        <form action="" method="POST" class="form-group">
          <input type="password" class="form-input" name="oldPassword" placeholder="Current Password">
          <input type="password" class="form-input" name="newPassword" placeholder="New Password">
          <button id="SubmitPassword" class="submit">Change password</button>
        </form>
      <% } else { %>
        <p class="user-question">Create a password</p>
        <form action="" method="POST" class="form-group">
          <input type="password" class="form-input" name="newPassword" placeholder="New Password">
          <button id="SubmitPassword" class="submit">Create password</button>
        </form>
      <% } %>

      <p class="user-question full-question">You can manage your account with any of the following:</p>
      <ul class="social-list">
        <li class="social-item">
          <a class="social-link" id="socialLink" href="">
            <i class="fab fa-google"></i>
          </a>
        <p class="plus-minus">
            <!-- <i id="dash-google-p show-green" class="fas fa-plus-circle"></i>
            <i id="dash-google-m show-grey" class="fas fa-minus-circle"></i> -->
            <i id="dash-google-p show-grey" class="fas fa-plus-circle"></i>
            <i id="dash-google-m show-red" class="fas fa-minus-circle"></i>
        </p>
      </li>
        <li class="social-item">
          <a class="social-link" id="socialLink" href="">
            <i class="fab fa-twitter"></i>
          </a>
        <p class="plus-minus">
          <% if (!currentUser.twitter.displayName) { %>
            <i id="dash-tw-p show-green" class="fas fa-plus-circle"></i>
            <i id="dash-tw-m show-grey" class="fas fa-minus-circle"></i>
          <% } else { %>
            <i id="dash-tw-p show-grey" class="fas fa-plus-circle"></i>
            <i id="dash-tw-m show-red" class="fas fa-minus-circle"></i>
          <% } %>
        </p>
      </li>
        <li class="social-item">
          <a class="social-link" id="socialLink" href="">
            <i class="fab fa-facebook-square"></i>
          </a>
        <p class="plus-minus">
          <i id="dash-fb-p" class="fas fa-plus-circle"></i>
          <i id="dash-fb-m" class="fas fa-minus-circle"></i>
        </p>
      </li>
      </ul>
    </div>
  </section>

  <section class="call-to-action">
    <a href="/posts/foundpet/new"><button id="FoundBtn" class="btn btn-found btn-small">I've found a Pet</button></a>
    <a href="/posts/lostpet/new"><button id="LostBtn" class="btn btn-lost btn-small">I'm looking for a Lost Pet</button></a>
  </section>

</main>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<!-- <script type="text/javascript" src="../social.js"></script> -->

<% include ./partials/footer %>
