<% include ./partials/header %>

<main>
    <section class="call-to-action">
      <a href="/posts/foundpet/new" class="btn-a"><button id="FoundBtn" class="btn btn-found">I've found a Pet</button></a>
      <a href="/posts/lostpet/new" class="btn-a"><button id="LostBtn" class="btn btn-lost">I'm looking for a Lost Pet</button></a>
    </section>

    <h2 class="recent-heading page-title">Recent Posts...</h2>
    <section class="recent-posts">

    </section>
    <a class="full-pets-list submit" href="/posts/feed">See All Pets</a>

  </main>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="../recent.js"></script>
<% include ./partials/footer %>
