<% include ./partials/header %>

<main>
    <section class="call-to-action">
      <!-- Use CSS to position logo-header in place on index? -->
      <a href="/posts/foundpet/new"><button id="FoundBtn" class="btn btn-found">I've found a Pet</button></a>
      <a href="/posts/lostpet/new"><button id="LostBtn" class="btn btn-lost">I'm looking for a Lost Pet</button></a>
    </section>

    <h2 class="recent-heading page-title">Have you seen...</h2>
    <section class="recent-posts">

    </section>
    

  </main>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="../recent.js"></script>
<% include ./partials/footer %>