<% include ./partials/header %>

<main>
    <h2 class="sign-title">Sign In</h2>
    <form class="form-group" action="/login" method="POST">
        <input id="UserDisplayName" class="form-input" type="text" name="email" placeholder="Email">
        <input id="UserPass" class="form-input" type="password" name="password" placeholder="Password">
        <button id="LoginBtn" class="form-btn submit">Login</button>
    </form>
</main>

<% include ./partials/footer %>