<% include ./partials/header %>

<main>
  <% if(message && message.length > 0){ %>
    <div class="msg-box">
      <h2 class="msg error-msg"><%- message %></h2>
    </div>
    <% } %>
    <h2 class="sign-title">Create an Account</h2>
    <form class="form-group" action="/signup" method="POST">
        <input id="UserEmail" class="form-input" type="email" name="email" placeholder="Your email address">
        <input id="UserDisplayName" class="form-input" type="text" name="username" placeholder="Username">
        <input id="UserPass" class="form-input" type="password" name="password" placeholder="Password">
        <button id="SignUpBtn" class="form-btn submit">Sign Up</button>
    </form>
</main>

<% include ./partials/footer %>
