/* POSTS */
.search {
  display: flex;
  justify-content: center;
  padding: 2rem;
}
.search-title {
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 2.2rem;
  margin: 0;
}
.input-label {
  margin: 0.5rem 2rem;
  color: #666;
  font-size: 1rem;
}
.input {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #666;
  text-align: center;
  color: #666;
}
.input:focus {
  outline: 0;
}
.form-btn {
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 2.2rem;
  border: none;
  text-align: center;
  padding: 0.3rem 1.5rem;
  margin-left: 2rem;
  background-color: transparent;
  color: #e2a477;
  border: 1px solid #e2a477;
  border-radius: 0.2rem;
}
.pet-list {
  width: 80%;
  display: block;
  margin: 0 auto;
}
.pet {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  margin: 1rem;
}
.pet-link {
  text-decoration: none;
  color: #363d48;
}
.pet-image-area,
.details-area {
  margin: 2rem 1rem;
  padding: 0;
  width: 50%;
}
.pet-image-area {
  width: 25%;
}
.pet-name {
  margin: 0;
}
.pet-image {
  width: 12rem;
  height: 10rem;
  border-radius: 0.5rem;
}
.info {
  font-weight: bold;
  min-width: 50%;
}
.detail {
  font-weight: normal;
}
