/* POST */
.post-pet {
  background-color: #eee;
  padding: 3rem 0 0 1rem;
  margin: 2rem 4rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  clear: both;
}
.post-image {
  max-width: 28rem;
  height: 20rem;
  display: block;
  margin: 0 auto;
  border-radius: 0.5rem;
}
.name {
  text-align: center;
  font-size: 2rem;
  font-family: 'Fredoka One', cursive;
  font-weight: normal;
  letter-spacing: 0.1rem;
}
.line {
  width: 70%;
  opacity: 0.5;
  margin: 0 auto;
}
.post-text {
  display: flex;
  justify-content: center;
  padding: 1rem;
}
.post-details {
  width: 20%;
  margin-left: 2rem;
}
.post-description {
  width: 40%;
  margin-left: 2rem;
}
.subtitle {
  font-size: 1.2rem;
  font-weight: bold;
}
.span {
  font-weight: normal;
}
.details-title,
.desc-title {
  font-weight: bold;
  color: #f48637;
  font-size: 1.4rem;
}
.description-text {
  line-height: 2rem;
}
.add-comment-area {
  align-self: center;
  margin: 2rem;
}
.add-comment {
  font-size: 0.8rem;
  font-weight: bold;
  line-height: 1.2rem;
  text-align: center;
  padding: 0.4rem;
  background-color: transparent;
  color: #f4863f;
  border: 1px solid #f4863f;
  border-radius: 0.2rem;
  margin: 1rem auto;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease-in;
}
.add-comment:hover {
  background-color: #f4863f;
  color: #eee;
}
.comment {
  color: red;
  background-color: #f9f9f9;
  padding: 1rem 2rem;
  margin: 1rem 4rem;
  border-radius: 1rem;
  font-size: 1.2rem;
}
.comment-title {
  font-size: 1.2rem;
  color: #f4863f;
  margin-left: 2rem;
}
.remove-post {
  float: right;
  padding: 2rem;
}
.remove-btn {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  padding: 0.3rem 1rem;
  display: inline;
  background-color: transparent;
  color: #f4b33f;
  border: 1px solid #f4b33f;
  border-radius: 0.2rem;
  transition: all 0.3s ease-in;
}

/* POSTS */
.feed-opening {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 1rem auto;
}
.search {
  width: 80%;
  display: flex;
  justify-content: center;
  margin: 1rem auto;
}
.search-title {
  font-size: 1.3rem;
  font-weight: 600;
  margin: 1rem;
  text-align: center;
}
#searchForm .search-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.search-form .search-row {
  margin: 2rem auto;
}
#searchForm .input-label {
  margin: 0.5rem 2rem;
  color: #666;
  font-size: 1.3rem;
}
#searchForm .input {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #666;
  text-align: center;
  color: #666;
  font-size: 1.2rem;
  padding: 0.2rem;
}
.form-btn {
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 2.2rem;
  text-align: center;
  padding: 0.3rem 1.5rem;
  display: block;
  margin: 3rem auto;
  background-color: transparent;
  color: #f4b33f;
  border: 1px solid #f4b33f;
  border-radius: 0.2rem;
  transition: all 0.3s ease-in;
}
#searchForm .form-btn:hover {
  background-color: #f4863f;
  color: #eee;
}
.pet-list {
  width: 80%;
  display: block;
  margin: 0 auto;
}
.pet {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  margin: 1rem 0;
}
.pet-link {
  text-decoration: none;
  color: #363d48;
}
.pet-image-area,
.details-area {
  margin: 2rem 1rem;
  padding: 0;
  width: 50%;
}
.pet-image-area {
  width: 25%;
}
.pet-name {
  margin: 0;
}
.pet-image {
  max-width: 12rem;
  height: 10rem;
  border-radius: 0.5rem;
}
.info {
  font-weight: bold;
  min-width: 50%;
}
.detail {
  font-weight: normal;
}
.call-to-action {
  display: flex;
  justify-content: center;
}
.btn-small {
  padding: 1rem;
  font-size: 1.2rem;
  font-family: 'Muli', sans-serif;
  background-color: #363d48;
  margin: 2rem 2rem;
  border: none;
  color: #f9f9f9;
  border-radius: 0.3rem;
  cursor: pointer;
}
.btn-small:hover {
  color: #363d48;
  background-color: #f9f9f9;
  border: 2px solid #363d48;
  padding: 0.9rem;
}
.search-button {
  margin: 2rem 0;
}
