/* SIGN UP & LOGIN */
.signup-container,
.login-container {
  display: flex;
  justify-content: center;
}
.sign-title {
  font-size: 2rem;
  text-align: center;
  margin-top: 4rem;
}
.signup-local,
.login-local,
.signup-social,
.login-social {
  width: 50%;
  margin-top: 2rem;
}
.signup-local,
.login-local {
  border-right: 0.5px solid rgba(255, 161, 80, 0.5);
}
.signup-social,
.login-social {
  border-left: 0.5px solid rgba(255, 161, 80, 0.5);
}
.form-group {
  margin: 2rem 0 0 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.form-input {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #666;
  text-align: left;
  color: #666;
  line-height: 2rem;
  font-size: 1.4rem;
  margin: 2rem;
  padding-left: 2rem;
}
.form-btn {
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 2.2rem;
  border: none;
  text-align: center;
  padding: 0.3rem 0.7rem;
  background-color: transparent;
  color: #f4863f;
  border: 1px solid #f4863f;
  border-radius: 0.2rem;
  width: 30%;
  margin: 2rem auto;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.form-btn:hover {
  color: #eee;
  background-color: #f4863f;
}
.signup-social .social-list,
.login-local .social-list {
  margin-top: 5rem;
}
.create-account .form-input {
  width: 60%;
  margin: 2rem auto;
}

/* LOST & FOUND PET FORMS */
.form-pet {
  width: 70%;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2rem;
}
.form-pet .form-input {
  font-size: 1.2rem;
  line-height: 1.4rem;
  padding-left: 0.5rem;
}
.form-question {
  border: none;
  background-color: transparent;
  text-align: left;
  color: #666;
  line-height: 1.4rem;
  font-size: 1.2rem;
  margin-top: 4rem;
  padding-left: 0.5rem;
}
.general-input {
  margin: 0 0 2rem 1rem;
  border: none;
  border-bottom: 1px solid #666;
  background-color: transparent;
  font-size: 1rem;
  padding-right: 5rem;
}
.question-type {
  margin: 1rem 0;
}
.hide {
  display: none;
}
.hide-other,
.hide-chip,
.hide-tag {
  display: none;
}
.text-area {
  margin-bottom: 2rem;
}
.page-title-pet {
  font-size: 2rem;
  margin: 2rem 4rem;
  font-family: 'Muli', sans-serif;
}
.checkbox-area {
  display: flex;
}
.photo-input {
  margin-top: 2rem;
}
.photo-label {
  font-size: 1rem;
  cursor: pointer;
}
.choose-file {
  font-size: 1rem;
}
.form-pet .submit {
  margin: 2rem 0;
}
.found-details {
  margin-top: 2rem;
}
input[type='radio'] + label {
  color: #666;
}
input[type='radio']:checked + label {
  color: #666;
  font-style: bold;
}
input[type='date'] {
  font-size: 1rem;
  font-family: 'Muli', sans-serif;
  background-color: #fff;
  outline: none;
  border: 0.5px solid #666;
  color: #666;
  border-radius: 3px;
  padding: 0.2rem 0.5rem;
  margin-left: 1rem;
}
.radio-label {
  font-size: 1.1rem;
  margin: 0 4rem 0 0;
}
.photo-input {
  display: none;
}
label[for='PetImage'] {
  color: #666;
  display: block;
  width: 40%;
  font-family: 'Muli', sans-serif;
  margin: 2rem 0;
  padding: 1rem;
  background-color: #cfe277;
  font-weight: bold;
  font-size: 1.2rem;
}
.file-name {
  font-size: 1.1rem;
  opacity: 0.8;
}
/* Comment Form */
.form-comment {
  width: 80%;
  margin: 0 auto;
}
.comment-body {
  width: 90%;
  display: flex;
  flex-direction: column;
}
.characters {
  align-self: flex-end;
}
/* Social media - from style.css file */
.user-question {
  text-align: left;
  color: #666;
  line-height: 1.8rem;
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 4rem;
  padding-bottom: 0.2rem;
}
.full-question {
  text-align: center;
}
.social-list {
  width: 70%;
  margin: 2rem auto;
  display: flex;
  flex-direction: row;
}
.social-item {
  font-size: 2rem;
  text-align: center;
  padding: 1rem 0.8rem;
  background-color: #f4863f;
  border: 1px solid #f4863f;
  border-radius: 50%;
  margin: 1rem auto;
  width: 8%;
  list-style-type: none;
  transition: all 0.2s ease-in;
}
.social-link {
  color: #fff;
  padding: 0;
  margin: 0;
}
.social-link:hover {
  color: #eee;
}

/* Responsive Design - Signup and Login pages */
@media screen and (max-width: 800px) {
  .sign-title {
    margin-top: 2rem;
  }
  .signup-local,
  .login-local,
  .signup-social,
  .login-social {
    margin-top: 1rem;
  }
  .form-group {
    margin: 1rem 0 0 2rem;
    justify-content: space-around;
  }
  .form-input {
    line-height: 1.8rem;
    font-size: 1.2rem;
    margin: 1.5rem;
    padding-left: 1rem;
  }
  .form-btn {
    line-height: 2rem;
    padding: 0.2rem 0.5rem;
  }
  .signup-social .social-list,
  .login-local .social-list {
    margin-top: 3rem;
  }
  .social-item {
    width: auto;
  }
}
@media screen and (max-width: 700px) {
  .social-list {
    flex-direction: column;
  }
  .social-item {
    width: 15%;
  }
}
@media screen and (max-width: 650px) {
  .signup-container,
  .login-container {
    flex-direction: column;
  }
  .signup-local,
  .login-local,
  .signup-social,
  .login-social {
    width: 100%;
    margin-top: 1rem;
    border: none;
  }
}
