body {
  font-size: 13px;
  margin: 0;
  padding: 0;
  font-family: 'Muli', sans-serif;
  color: #363d48;
}
input,
label,
button {
  font-family: 'Muli', sans-serif;
}
input:focus {
  outline: 0;
}
textarea {
  display: block;
}
button:focus {
  outline: none;
}
.page-title {
  font-size: 2.2rem;
  margin: 2rem 4rem;
  font-family: 'Fredoka One', cursive;
  font-weight: normal;
  letter-spacing: 0.1rem;
}
/* HEADER */
.logo-header {
  margin: 0;
  cursor: pointer;
  width: 200px;
}
.logo-link {
  color: #363d48;
  text-decoration: none;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin: 0;
  background-color: #f4863f;
  color: #eee;
}
.menu {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-right: 3rem;
}
.menu-item {
  margin: 0 1rem;
  text-decoration: none;
  color: #eee;
  font-size: 1.2rem;
  transition: all 0.3s ease-in;
}
.menu-item:hover {
  color: #363d48;
  font-size: 1.25rem;
}
.active-menu {
  color: #363d48;
  font-size: 1.3rem;
}
/* Dropdown Button */
.dropbtn {
  width: 8rem;
  background-color: #f4863f;
  color: #eee;
  padding: 0.6rem;
  margin: auto 0 -0.3rem 1rem;
  font-size: 1.8rem;
  border: 2px solid #666;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.3s ease-in;
}
.dropbtn:hover,
.dropbtn:focus {
  background-color: #90f43f;
  color: #666;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #eee;
  min-width: 4rem;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  color: #f4863f;
  padding: 0.2rem 0.4rem;
  text-decoration: none;
  display: block;
  line-height: 1.5rem;
}
.dropdown a:hover {
  background-color: #eee;
}
.show {
  display: block;
}
.welcome {
  cursor: text;
  font-weight: 600;
}

/* flash messages */
.msg-box {
  width: 30%;
  margin: 3rem;
}
.msg {
  padding: 0.5rem 0.8rem;
  text-align: center;
  font-size: 1.2rem;
  border-radius: 0.8rem;
  opacity: 0.8;
}
.success-msg {
  background-color: #90f43f;
}
.error-msg {
  background-color: #c92c18;
  color: #fff;
}
.info-msg {
  background-color: #2ab5f6;
}
