/* Home, Post, Feed */
.call-to-action {
  display: flex;
  justify-content: center;
}
.btn {
  padding: 2rem;
  font-size: 2rem;
  font-family: 'Muli', sans-serif;
  background-color: #363d48;
  margin: 4rem 2rem;
  border: none;
  color: #f9f9f9;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: all 0.3s ease-in;
  border: 2px solid #363d48;
}
.btn:hover {
  background-color: #f9f9f9;
  color: #363d48;
  border: 2px solid #363d48;
}
.pet-list {
  width: 90%;
  display: block;
  margin: 0 auto;
}
.pet {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;
  padding: 3rem 0 0 1rem;
  margin: 2rem 4rem;
  border-radius: 1rem;
}
.pet-link {
  text-decoration: none;
  color: #363d48;
  cursor: pointer;
}
.pet-image-area,
.details-area {
  margin: 0.5rem;
  padding: 0;
  width: 50%;
}
.pet-image-area {
  width: 25%;
}
.pet-name {
  margin-bottom: 1rem;
}
.pet-image {
  max-width: 12rem;
  height: 10rem;
  border-radius: 0.5rem;
}
.tags,
.detail {
  font-weight: normal;
}
.label-small,
.info {
  font-size: 0.9rem;
  font-weight: bold;
  min-width: 50%;
}
.tags {
  color: #363d48;
}
.tag-link {
  text-decoration: underline;
}
.full-pets-list {
  display: block;
  text-decoration: none;
}
/* Dashboard */
.dashboard-section {
  text-align: center;
  width: 70%;
  display: block;
  margin: 2rem auto;
  color: #666;
}
.dashboard-title {
  text-align: left;
  margin-bottom: 4rem;
}
.user-name,
.user-email {
  text-align: left;
  font-size: 1.3rem;
}
.edit-section {
  background-color: #eee;
  padding: 1rem 3rem;
  border-radius: 0.2rem;
}
.form-group {
  width: 80%;
  margin: 1.5rem auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.form-input {
  width: 50%;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #666;
  text-align: left;
  color: #666;
  line-height: 1.8rem;
  font-size: 1.3rem;
  margin: 1rem auto;
  padding-left: 2rem;
}
.form-title {
  text-align: left;
  color: #f4863f;
  line-height: 1.8rem;
  font-size: 1.4rem;
  margin-top: 1rem;
  font-weight: 600;
}
.dashboard-question {
  color: #666;
  text-align: center;
  line-height: 1.4rem;
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 4rem;
  padding-bottom: 0.2rem;
}
.social-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1rem auto;
}
.social-item {
  font-size: 2rem;
  margin: 1rem;
  list-style-type: none;
  line-height: 0;
}
.social-link {
  padding: 1.2rem;
  background-color: #f4863f;
  width: 15%;
  border-radius: 50%;
  color: #fff;
  margin: 1.3rem;
  transition: all 0.2s ease-in;
}
.social-link:hover {
  color: #eee;
}
.plus-minus {
  font-size: 1.2rem;
  margin: 0;
  padding-top: 2rem;
}
.hide-popup {
  display: none;
}
.show-popup {
  display: block;
  font-size: 1rem;
  background-color: #666;
  color: #eee;
  opacity: 0.8;
  padding: 0.1rem;
  margin: 1rem auto;
  width: 40%;
}
.grey-social {
  color: #666;
}
.green-social {
  color: #90f43f;
  cursor: pointer;
}
.red-social {
  color: #c92c18;
  cursor: pointer;
}
.submit {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.7rem;
  text-align: center;
  padding: 0.4rem 0;
  background-color: transparent;
  color: #f4863f;
  border: 1px solid #f4863f;
  border-radius: 0.2rem;
  width: 40%;
  margin: 1rem auto;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.submit:hover {
  background-color: #f4863f;
  color: #eee;
}
.call-to-action {
  display: flex;
  justify-content: center;
}
.btn-small {
  padding: 1rem;
  font-size: 1.2rem;
  font-family: 'Muli', sans-serif;
  background-color: #363d48;
  margin: 2rem 2rem;
  border: none;
  color: #f9f9f9;
  border-radius: 0.3rem;
  cursor: pointer;
  border: 2px solid #363d48;
  transition: all 0.3s ease-in;
}
.btn-small:hover {
  background-color: #f9f9f9;
  color: #363d48;
  border: 2px solid #363d48;
}

/* Responsive Design - Index page */
@media screen and (max-width: 900px) {
  .btn {
    padding: 1rem;
    font-size: 1.5rem;
    margin: 4rem 1rem;
  }
  .pet-list {
    width: 95%;
    margin: 0 auto;
  }
  .pet {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 0 0 1rem;
    margin: 1rem 2rem;
  }
}
@media screen and (max-width: 650px) {
  .call-to-action {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 1rem auto;
  }
  .btn {
    padding: 1rem;
    font-size: 1.5rem;
    margin: 1rem 0;
  }
  .btn-a {
    margin: 0 auto;
  }
  .pet {
    padding: 1rem 0 0 1rem;
    margin: 1rem;
    align-items: flex-start;
  }
  .pet-name {
    margin-bottom: 0.8rem;
  }
  .pet-image {
    padding-top: 2rem;
    max-width: 9rem;
    height: 7rem;
  }
}
@media screen and (max-width: 450px) {
  .btn {
    padding: 0.8rem;
    font-size: 1.2rem;
    margin: 0.6rem 0;
  }
  .pet {
    padding: 0.8rem 0 0 0.8rem;
    margin: 0.8rem;
  }
  .pet-name {
    margin-bottom: 0.5rem;
  }
  .pet-image {
    max-width: 8rem;
    height: 6rem;
  }
}
@media screen and (max-width: 370px) {
  .pet-image {
    max-width: 7rem;
    height: 5rem;
  }
}

/* Responsive Design - Dashboard */
@media screen and (max-width: 800px) {
  .dashboard-section {
    width: 90%;
    margin: 1rem auto;
  }
  .dashboard-title {
    margin-bottom: 2rem;
  }
  .edit-section {
    padding: 1rem 2rem;
  }
  .form-input {
    padding-left: 1rem;
    width: 70%;
  }
}
@media screen and (max-width: 600px) {
  .social-list {
    justify-content: space-around;
  }
  .social-link {
    width: 20%;
  }
  .submit {
    width: 50%;
    font-size: 1.1rem;
    margin: 0 auto;
  }
  .call-to-action {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .form-input {
    padding-left: 0.8rem;
    width: 80%;
  }
}
@media screen and (max-width: 520px) {
  .social-list {
    flex-direction: column;
  }
  .social-item {
    padding: 1rem 0;
  }
}
