<% include ../partials/header %>

    <main>
        <h2 class="page-title-pet">Tell Us About Your Pet</h2>
        <form class="form-pet" action="/api/lostpet/new" method="POST" enctype="multipart/form-data">
            <div class="checkbox-area">
              <p class="form-question question-type">What is your pet?*<br>
                <input id="DogRadio" class="radio-input" name="petChoice" type="radio" required>
                <label for="DogRadio" class="radio-label">Dog</label>
                <input id="CatRadio" class="radio-input" name="petChoice" type="radio">
                <label for="CatRadio" class="radio-label">Cat</label>
                <input id="BirdRadio" class="radio-input" name="petChoice" type="radio">
                <label for="BirdRadio" class="radio-label">Bird</label>
                <input id="ReptileRadio" class="radio-input" name="petChoice" type="radio">
                <label for="ReptileRadio" class="radio-label">Reptile</label>
                <input id="SmMammalRadio" class="radio-input" name="petChoice" type="radio">
                <label for="SmMammalRadio" class="radio-label">Small Mammal</label>
                <input id="OtherRadio" class="radio-input" name="petChoice" type="radio">
                <label for="OtherRadio" class="radio-label">Other</label>
                <input id="OtherInput" class="form-input hide" type="text" name="otherPet" placeholder="What is your pet? (Ex: Cow, Goat, etc)"> <!-- This should only be visibile in the event the user selects Other -->
              </p>
            </div>

            <!-- Pet Details -->
            <div class="pet-details">
              <input id="PetName" class="form-input" type="text" name="name" placeholder="Pet's Name">
              <input id="PetBreed" class="form-input" type="text" name="breed" placeholder="Pet's Breed">
              <input id="PetGender" class="form-input" type="text" name="gender" placeholder="Pet's Gender">
              <input id="PetAge" class="form-input" type="text" name="age" placeholder="Pet's Age">
              <input id="PetColor" class="form-input" type="text" name="color" placeholder="Pet's color">
              <!-- chip -->
              <p class="form-question">Is your pet chipped?
              <input id="Chipped" name="chippped" type="radio">
              <label for="Chipped">Yes</label>
              <input id="NoChip" name="chipped" type="radio">
              <label for="NoChip">No</label></p>
              <!-- tag -->
              <p class="form-question">Does your pet have a tag?
              <input id="Tag" name="tag" type="radio">
              <label for="Tag">Yes</label>
              <input id="NoTag" name="tag" type="radio">
              <label for="NoTag">No</label></p>
              <label for="TagInput" class="form-question">What is written on the tag?</label>
              <input id="TagInput" class="general-input" type="text" name="tagInput" placeholder="Name / Phone / Address"> <!-- This should only be visibile in the event the user selects 'Yes' -->

              <p class="form-question">Please list any additional details that will help in identifying your pet (Ex: physical traits, personality, collar color, etc.):</p>
              <textarea class="text-area" name="petDesc" id="" cols="80" rows="10"></textarea>

              <!-- Last Seen details -->
              <label class="form-question" for="LastSeenDate">When did you last see your pet?</label>
              <input id="LastSeenDate" name="lostDate" type="date">
              <p class="form-question">Where did you last see your pet?</p>
              <input class="form-input" type="text" name="address" placeholder="Street Name/Address">
              <input class="form-input" type="text" name="city" placeholder="City">
              <input class="form-input" type="text" name="state" placeholder="State/Province*" required>
              <input class="form-input" type="text" name="zipcode" placeholder="Zip/Postal Code*" required>
              <p class="form-question">Describe the area you last saw your pet if possible.</p>
              <textarea id="LastSeenAreaDesc" name="areaDesc" cols="80" rows="10"></textarea>

              <!-- Incident Details -->
              <p class="form-question">Please describe the incident in which you lost your pet.</p>
              <textarea name="incidentDesc" id="" cols="80" rows="10"></textarea>
              <input class="photo-input" id="PetImage" name="petImage" type="file" onchange="readURL(this);">
              <label class="photo-label" for="PetImage">Please upload a photo of your pet</label>
              <p class="file-name" id="FilePath">No file chosen</p>
              <img id="photo" src="" alt="" />
          </div>

          <button id="SubmitPost" class="form-btn submit">Submit</button>
        </form>

    </main>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../../forms.js"></script>

<% include ../partials/footer %>